*{
margin: 0;
padding: 0;
font-family: 'Roboto Mono', monospace;
}

.osnova{
    width: 100%;
    height: 75px;
    background-color: rgb(29,29,29);
    position: sticky;
    top: 0;
}

.vverh{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(29,29,29);
}

.awepaw{
    color: white;
    line-height: 75px;
    font-size: 30px;
}

.photome{
    color: white;
    font-size: 20px;
    line-height: 75px;
    float: right;
    width: 6em;
}

.osnova1{
    width: 100%;
    height: 800px;
    background-image: url(1.jpg);
    background-size: cover;
}

.osnova2{
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.aboutme{
    line-height: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.textabout{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.osnova3{
    background-color: rgb(106, 124, 92);
    width: 100%;
    height: 1000px;
}

.osnova4{
    background-color: rgb(106, 124, 92);
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.trips{
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.sss{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.georgia{
    background-image: url(1.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
    transition: 0.5s;
    float: left;
}

.georgia:hover{
    transform: scale(1.1);
}

.spb{
    background-image: url(1.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
    transition: 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.spb:hover{
    transform: scale(1.1);
}

.georgia2022{
    background-image: url(1.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
    transition: 0.5s;
    float: right;
}

.georgia2022:hover{
    transform: scale(1.1);
}

.text2{
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.textgeorgia{
    width: 300px;
    height: 50px;
    float: left;
}

.textgeorgia1{
    text-align: center;
}

.textspb{
    width: 300px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textspb1{
    text-align: center;
}

.textgeorgia2022{
    width: 300px;
    height: 50px;
    float: right;
}

.textgeorgia20222{
    text-align: center;
}









