/* General styles */
body {
    background-color: #1e1e1e;
    color: #e5e5e5;
    line-height: 1.6;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll issues */
}

/* Header */
header {
    text-align: center;
    padding: 50px 20px;
    background-color: #111;
    color: #fff;
    box-shad
